.autocomplete-dropdown-container {
  z-index: 1;
  position: absolute;
  background-color: white;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 16px;
}

.suggestion-item--active, .suggestion-item {
  margin: 3px;
  font-size: 12px;
}

.suggestion-item--active {
  background-color: #e8e8e8;
}