
.card {
  padding: 12px;
  border-radius: 16px !important;
  font-size: 14px;
  line-height: 17px;
  width: 360px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
}

.card > .content {
  padding: 10px !important;
}

.card > .content .total {
  display: none;
  margin-top: 24px;
  opacity: 1 !important;
  font-size: 18px;
}

.card > .content > .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.card > .content > .header .close {
  display: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 0px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.card > .content > .header .close:hover {
  background-color: rgb(202, 202, 202);
}

.card > .content > .header .title {
  color: #202124;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card > .content > .header > div > .time {
  display: block;
  font-size: 14px;
  line-height: 17px;
  padding: 12px;
  background: transparent;
  color: #00a697;
}

.card > .content > .header > div > .time-tablet {
  display: none;
  font-size: 14px;
  line-height: 17px;
  padding: 12px;
  width: 100%;
  background: #f3f3f3;
  border-radius: 8px;
}

.card > .content > .header > div > .time > .time-show {
  cursor: pointer;
  color: #00a697;
  background: transparent;
}

.card > .content > .header > div > .time-tablet > .time-show {
  color: #202124;
}

.card > .content > .header > div > .time-tablet > .time-btn {
  float: right;
  color: #00a697;
  cursor: pointer;
  background: transparent;
}
.hideTime{
  display: none;
}
.delivery-switch {
  width: 100%;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.delivery-switch > button.switch-item:not(:disabled) {
  width: 50%;
  color: #202124;
  padding: 6px;
  background-color: white;
  border: 1px solid #202124 !important;
  border-radius: 8px;
  box-shadow: none;
  transition: background 0.35s;
}

.delivery-switch > button.switch-item:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.delivery-switch > button.switch-item:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.delivery-switch > button.switch-item.active:not(:disabled) {
  color: white;
  background-color: #202124;
}

.card .products {
  margin-bottom: 24px;
  margin-top: 12px;
}

.card .products .product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 0px 12px 0px;
  border-top: 1px solid #f2f2f2;
  height: 75px;
}
.card .products .product:first-child {
  border-top: none;
}
.card .products .product .iconbtn {
  background-color: transparent !important;
  border: none;
  color: #202124;
  margin-left: 6px;
}
.card .products .product .iconbtn:hover {
  color: black;
}
.card .products .product .variant {
  margin-top: 6px;
  line-height: 20px;
  color: #000000;
  opacity: 0.7;
}
.card .flexview {
  display: flex;
  justify-content: space-between;
  color: #202124;
  opacity: 0.6;
  margin: 10px 0px;
}

.icon {
  margin-right: 12px;
}

.order > .bag-btn {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0px;
  z-index: 2;
}

.card > .footer > .footer-btn {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .hidden {
    display: none !important;
  }

  .hidden-wrapper {
    height: 0 !important;
  }

  .overlay {
    z-index: -1;
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
  }

  .order {
    position: fixed !important;
    z-index: 1300 !important;
    right: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
    left: 0px !important;
    overflow: auto !important;
    display: block !important;
  }

  .order > .bag-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative !important;
    top: 0 !important;
    margin: 0px auto !important;
    padding: 24px 12px;
    border-radius: 0px;
    min-height: 100%;
    width: 100%;
    z-index: 1030 !important;
  }

  .card > .content > .header {
    display: block;
  }

  .card > .content > .header .close {
    display: block;
  }

  .card > .content > .header .time {
    width: 100%;
    background: #f3f3f3;
    border-radius: 8px;
  }

  .card > .content > .header > div > .time {
    display: none;
  }

  .card > .content > .header > div > .time-tablet {
    display: block;
  }

  .card > .content .total {
    display: flex;
  }

}
