.stitle {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 500;
}
.addmore {
  background: #ffffff;
  border: 1px solid #e8e8e8 !important;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  cursor: pointer;
  color: #00a697;
}

.addmore .icon {
  margin: 12px;
}

.addmore:active {
  background: #00000005;
}

.body-container {
  min-width: 350px;
  max-width: 500px;
  margin: 16px;
  background: #ffffff;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px 24px;
  position: absolute;
  width: 100%;
  top: 125px;
  left: 46%;
  transform: translate(-50%, 0) !important;
}
.err-pswMsg {
  color: #f00;
  float: left;
}
.btn-close {
  cursor: pointer;
  float: right;
  margin-top: -3px;
}
.mTitle {
  font-size: 20px;
}

.form {
  margin-bottom: 40px;
}

.form > .form-header {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 22px;
}

.button-group {
  float: right;
}

.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 12px;
}

.form-group > .label {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 1px;
  opacity: 0.6;
}

.form-control {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
}
.phone-class {
  border: 1px solid #e8e8e8 !important;
  height: 52px !important;
}
.phone-class:focus {
  box-shadow: 0 0 0 0.1rem #00a697 !important;
}
.form-control:focus {
  outline: unset !important;
  border-color: #00a697 !important;
}
.street {
  padding-right: 50px;
  width: 100%;
}
textarea.form-control {
  resize: none !important;
  width: 100%;
}

.input-group {
  position: relative;
}

.input-group > input.form-control {
  width: 100%;
}

.icon {
  margin-left: 12px;
  margin-right: 12px;
}

.input-group > .icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px;
  color: #00a697;
}
