.btn-send{
    margin-top: 20px!important;
    padding: 12px 24px!important;
    border-radius: 5px!important;
    font-size: 19px!important;
}
.body-container{
    margin-top: 80px;
    padding: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 191px);
    padding-top: 150px;
}
.title{
    font-size: 20px;
    text-align: center;
}
.err-msg{
    margin-top: 10px;
    color: #f00;
}
.ops-container{
    text-align: center;
    color: #000000a1;
}
.ops-container p:first-child{
    font-size: 35px
}
.ops-container p:nth-child(2){
    font-size: 22px
}